$paragraph-margin-bottom: 32px;
$headings-margin-bottom: 0;

$primary: #ff6600;
$warning: #df0101;
$text-dark: #292929;
$text-light: #bfbfbf;

$headers-font: Russo, sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);